@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.banner {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(123, 233, 40, 0.6), rgba(32, 216, 44, 0.2), rgba(0, 0, 0, .6)), url('/trilha-css-desafio-01/assets/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #fcfc0980;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner-content h1 {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: transparent;
    background: -webkit-linear-gradient(#fbea25, #d3cc1a);
    background-clip: text;
    -webkit-background-clip: text;
}

.banner-content p {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.banner-content button {
    color: #fbea25;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 32px;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    border-image: linear-gradient(#fbea25, #d3cc1a);
    border-image-slice: 10;
    border-radius: 30px;
    flex: none;
}

.banner-content button:hover {
    cursor: pointer;
}

.logo {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#course-content {
    width: 100vw;
    text-align: center;

}

#course-content h2{
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
    color: transparent;
    background: -webkit-linear-gradient(#fbea25, #d3cc1a);
    background-clip: text;
    -webkit-background-clip: text;
}

#course-content .modules-list .module {
    font-family: Raleway;
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #fbea25;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span {
    color: #fbea25;
}

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url("assets/images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #fbea25;
    border-bottom: 1px solid #fbea25;
    padding: 200px;
}

#transform-world p {
    font-family: Raleway;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: end;
    max-width: 250px;
    color: #fff;
    text-shadow: 3px 2px #fbea25;
}

#professional-challenges {
    text-align: center;
    width: 100vw;
    padding-top: 60px;
}

#professional-challenges h2 {
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0;
    color: transparent;
    background: -webkit-linear-gradient(#fbea25, #d3cc1a);
    background-clip: text;
    -webkit-background-clip: text;
}

#professional-challenges p {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fff;
    padding: 30px;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(123, 233, 40, 0.6), rgba(32, 216, 44, 0.2), rgba(0, 0, 0, .6));
    border-top: 1px solid #33A8DB80;
    font-family: Raleway;
    color: #fff;
}
  
footer .dio-logo {
    width: 300px;
}
  
footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}


